body {
    margin: 0;
    padding: 0;
}

.main-div {
    height: 260px;
    width: 240px;
    background-color: rgb(193, 151, 101);
    padding: 15px;
    margin: 30px auto;
    border: 1px solid rgb(202, 140, 66);
    border-radius: 15px 25px;

}

.img-div {
    position: relative;
    height: 15px;

}

.clear-icon {
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}
.clear-icon:hover{
    height: 28px;
    width: 28px;
} 

.input-div {
    height: 110px;
    width: 210px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;

}

#length,
#breath {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 3px 15px;
    background-color: rgb(212, 195, 195);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

#result {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin-left: 15px;
}

.area-cal-btn {
    width: 180px;
    padding: 8px 14px;
    border-radius: 15px;
    font-size: 16px;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    border: none;
}

.area-cal-btn:hover {

    box-shadow: 1px 2px 1px 1px rgb(212, 195, 195);
    background-color: rgb(208, 196, 196);

}